<nav class="navbar navbar-fixed-top" style="background-color: white; border-bottom:1px solid grey">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>

  </div>
</nav>